<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="APP_NAME" value="springboot-demo"/>
    <property name="LOG_DIR" value="logs"/>

    <property name="maxHistory" value="7"/>
    <property name="maxSize" value="100MB"/>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <File>${LOG_DIR}/all-${APP_NAME}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/all-${APP_NAME}.log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxSize}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>